/* ------ Color ------ */
$primaryGreen: #3FB195
$lightGreen: rgba(63,177,149,.2)
$lighterGreen: rgba(63,177,149,.08)
$textBlack: #222222
$textGray: #666666
$textLightGray: #9E9E9E
$bgGray: #FAFAFA
$lineGray: #EBEBEB
\:root
  --themeColor: #{$primaryGreen}

/* ------ shadow ------ */
$shadow: 0px 14px 24px rgba(0,0,0,.04)

/* ------ Font ------ */
// $baseFontSize: 16px
// $fontSizeLevel: 4px

/* ------ Banner ------ */
// $productsBanner: url(../img/product_banner.png)

/* ------ Checkbox ------ */
// $checkbox_uncheck: url(../img/checkbox.svg)
// $checkbox_checked: url(../img/checkbox_checked.svg)

/* ------ twicon ------ */
$icon-name: "1","2","3","4","5","6","7","8"
$icon-bgColor: ("1": #3FB195,"2": #C499FF,"3": #FF9999,"4": #64C5E3,"5": #81A4FF,"6": #FD975E,"7": #C17B53,"8": #8FCA6B)

/* ------ Select icon ------ */
// $selectIcon: url(../img/sort-solid.svg)

/* ------ Input icon ------ */
// $creditCardIcon: url(../img/credit-card.svg)
