/* ------ Color ------ */
$primaryGreen: #3FB195
$lightGreen: rgba(63,177,149,.2)
$lighterGreen: rgba(63,177,149,.08)
$textBlack: #222222
$textGray: #666666
$textLightGray: #9E9E9E
$bgGray: #FAFAFA
$lineGray: #EBEBEB

/* ------ shadow ------ */
$shadow: 0px 14px 24px rgba(0,0,0,.04)

/* ------ Font ------ */
$baseFontSize: 16px
$fontSizeLevel: 4px

/* ------ Banner ------ */
// $productsBanner: url(../img/product_banner.png)

/* ------ Checkbox ------ */
// $checkbox_uncheck: url(../img/checkbox.svg)
// $checkbox_checked: url(../img/checkbox_checked.svg)

/* ------ Select icon ------ */
// $selectIcon: url(../img/sort-solid.svg)

/* ------ Input icon ------ */
// $creditCardIcon: url(../img/credit-card.svg)
