.card
  border-radius: 16px
  overflow: hidden
  user-select: none
  background-color: #fff
  +shadow
  +desk
    &:hover
      .card-img > img
        transform: scale(1.1)
  &-img
    position: relative
    height: 163px
    overflow: hidden
    > img
      width: 100%
      height: 100%
      object-fit: cover
      transition: all .2s
  &-info
    padding: 8px 12px
  &-title
    margin-bottom: 8px
    +font(18, 700)
    line-height: 1.5
    // 超出字數設置 ...
    +wordsEllipsis
  &-location, &-operate, &-class
    padding: 4px 0
  &-otherInfoText
    +font(14, 400)
    line-height: 1.2
    color: $textGray
    vertical-align: middle
    margin-right: 16px

.cardSpec
  width: 100%
  height: 100%
  transition: .2s
  +desk
    &:hover
      transform: translate(-3px, -3px)
      .cardSpec-img > img
        transform: scale(1.1)
  &__item
    width: 31.3333%
    min-width: 164px
    margin: 0 2% 1.5rem 0
    +mobile
      margin: 0 0 1.5rem 0
  &__more
    width: 31.3333%
    min-width: 164px
    height: 10vw
    min-height: 100px
    margin: 0 2% 2% 0
    transition: .2s
    position: relative
    &:hover
      transform: scale(1.05)
      .food__moreText
        > span
          transform: scale(1.1)
    &:active
      background-color: darken($primaryGreen, 10)
      > .cardSpec__moreText span
        color: #fff
  &__moreText
    width: 100%
    height: 100%
    > span
      +font(24, 700)
      color: $primaryGreen
      +mobile
        +font(18, 700)
    &-full
      width: 50%
      height: \min(10vw, 100px)
      background-color: #fff
      border-radius: 16px
      transition: .2s
      margin: 0 auto
      +shadow
      +desk
        &:hover
          transform: scale(1.05)
  &-mask
    &:after
      content: ''
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%
      background: linear-gradient(180deg,transparent 30%,rgba(0,0,0,.8))
  &-img
    position: relative
    height: 163px
    overflow: hidden
    > img
      width: 100%
      height: 100%
      object-fit: cover
      transition: all .2s
  &-info
    padding: 8px 12px
  &-title
    margin-bottom: 8px
    +font(18, 700)
    line-height: 1.5
    // 超出字數設置 ...
    +wordsEllipsis
    &-ab
      color: #fff
      position: absolute
      left: 12px
      bottom: 0
      z-index: 2
      -webkit-line-clamp: 2 //行數
  &-location, &-call
    padding: 4px 0
  &-location
    > p
      color: $textBlack
  &-otherInfoText
    +font(14, 400)
    line-height: 1.2
    color: $textGray
    vertical-align: middle
    margin-right: 16px
    +wordsEllipsis
    // 超出字數設置 ...

.cardFull
  width: 100%
  border-radius: 16px
  overflow: hidden
  position: relative
  transition: .3s
  +desk
    &:hover
      .cardFull__img:before
        width: calc(100vw - 354px)
      .cardFull__info
        flex: 6
        padding: 0 0 0 56px
        &:before
          animation: active-arrow-ani .5s alternate infinite
          animation-delay: -.2s
        &:after
          animation: active-arrow-ani .5s alternate infinite
  &__item
    width: 100%
    transition: all .4s
    border-radius: 16px
    +shadow(0,0,0,0,rgba(0,0,0,0))
    &:hover
      +shadow
  &__img
    padding: 12px
    flex: 4
    height: 20vh
    max-height: 235px
    position: relative
    &:before
      content: ''
      position: absolute
      width: 100%
      height: 100%
      right: 0
      top: 0
      background-color: #fff
      border-radius: 16px
      transition: all .4s
      z-index: -1
      +pad
        width: calc(100vw)
    > img
      width: 100%
      height: 100%
      object-fit: cover
      border-radius: 16px
  &__info
    flex: 8
    padding: 0 24px
    position: relative
    transition: all .2s
    &:before
      font-family: 'Material Icons'
      content: 'arrow_forward_ios'
      +font(24, 400)
      color: $primaryGreen
      position: absolute
      left: 12px
      top: 50%
      opacity: 0
      transform: translateY(-50%)
    &:after
      font-family: 'Material Icons'
      content: 'arrow_forward_ios'
      +font(24, 400)
      color: $primaryGreen
      position: absolute
      left: 22px
      top: 50%
      opacity: 0
      transform: translateY(-50%)
    +mobile
      padding: 0 0 0 8px
  &__title
    padding: 8px 0
    +font(24, 700)
    line-height: 1.5
    +mobile
      +font(18, 700)
      // 超出字數設置 ...
      +wordsEllipsis
  &__location, &__date
    padding: 4px 0
  &__otherInfoText
    +font(14, 400)
    color: $textGray
    +wordsEllipsis

@keyframes active-arrow-ani
  0%
    opacity: 0
  50%
    opacity: 1

.card-shareBtn
  position: absolute
  right: 12px
  top: 12px
  width: 40px
  height: 40px
  z-index: 3
  +backgroundImg($icon-share)
  background-position: center
  background-color: rgba(255,255,255,.38)
  border-radius: 12px
  &:hover
    background-color: rgba($primaryGreen,.38)
    background-color: #fff
