.content
  width: calc(100% - 354px)
  max-width: 100%
  padding: 24px 24px 0 24px
  flex: 1
  overflow: auto
  > div
    margin-bottom: 40px
  +pad
    width: 100vw
    margin-top: 56px
  +mobile
    padding: 24px 16px 0 16px
  &__title
    margin-bottom: 16px
  &__titleText
    +font(24, 700)
    > span
      vertical-align: middle
  &__more
    padding: 8px 1rem
    margin-right: -1rem
    +font(16, 400)
    color: $primaryGreen
    &:hover
      color: darken($primaryGreen, 10)

.swiper-header
  width: 100%
  height: \min(30vw, 335px)
  min-height: 152px
  border-radius: 16px
  +shadow

.swiper-pagination-bullet
  background-color: rgba($textBlack, .75)

.banner
  &__container
    max-width: 100%
    height: 100%
    +backgroundImg($swipeBanner1)
    background-size: contain
    background-position: right center
  &__title
    margin-left: 40px
    +font(58, 700)
    line-height: 1.2
    mix-blend-mode: luminosity
    +mobile
      +font(33, 700)

.swiper-hotSpot
  width: 100%

.swiper-button-prev-hotSpot, .swiper-button-next-hotSpot
  color: $primaryGreen

.swiper-slide-hotSpot
  width: 254px
