.content
  width: calc(100% - 354px)
  max-width: 100%
  padding: 24px
  flex: 1
  overflow: auto
  +pad
    width: 100vw
    margin-top: 56px
  +mobile
    padding: 24px 16px 0 16px
  &__title
    margin-bottom: 16px
  &__titleText
    +font(24, 700)
    > span
      vertical-align: middle
  &__more
    padding: 8px 1rem
    margin-right: -1rem
    border-radius: 8px
    +font(16, 400)
    color: $primaryGreen
    +shadow(0,0,0,0,rgba(0,0,0,0))
    transition: all .2s
    &:hover
      color: darken($primaryGreen, 10)
      background-color: #fff
      +shadow

.swiper-header
  width: 100%
  height: \min(30vw, 335px)
  min-height: 152px
  border-radius: 16px
  +shadow

.swiper-pagination-header .swiper-pagination-bullet
  background-color: rgba($textBlack, .75)

.banner
  &__container
    max-width: 100%
    height: 100%
    +backgroundImg($swipeBanner1)
    background-size: contain
    background-position: right center
  &__title
    margin-left: 40px
    +font(58, 700)
    line-height: 1.2
    mix-blend-mode: luminosity
    +mobile
      +font(33, 700)

.swiper-hotSpot
  width: 100%

.swiper-button-prev-hotSpot, .swiper-button-next-hotSpot
  color: $primaryGreen

.swiper-slide-hotSpot
  width: 254px

.title
  &__backBtn
    width: 64px
    height: 40px
    +backgroundImg($arrow-back)
    background-position: center
    background-size: contain
    +pad
      width: 40px
  &__text
    +font(33, 700)
    line-height: 1.5
    +mobile
      +font(24, 700)
  &__funcs
    font-size: 0
  &__funcsBtn
    width: 40px
    height: 40px
    border-radius: 8px
    +shadow(0,0,0,0,rgba(0,0,0,0))
    transition: all .2s
    &:hover
      background-color: #fff
      +shadow(0,8,8,0,rgba(0,0,0,.04))
    & + .title__funcsBtn
      margin-left: 12px
    &-print
      +mobile
        display: none

.page
  &__img
    max-width: 100%
    height: 100%
    border-radius: 12px
    overflow: hidden
    > img
      width: 100%
      height: 100%
      object-fit: cover

.swiper-page
  width: 100%
  height: \min(30vw, 364px)
  min-height: 160px
  border-radius: 12px
  +shadow

.swiper-button-prev-page, .swiper-button-next-page
  color: $primaryGreen

.swiper-pagination-page .swiper-pagination-bullet
  background-color: rgba(#fff, .75)

.info
  padding: 16px
  background-color: $lighterGreen
  border-radius: 12px
  &__item
    padding: 8px 0
    +mobile
      +font(16, 400)
  &__title
    flex-shrink: 0
    margin-right: .8rem
  &__text, &__content
    line-height: 1.5
  &__content-tag, &__url
    color: $primaryGreen
    background-color: #fff
    border-radius: 8px
    +shadow
    transition: all .2s
    &:hover
      transform: translate(-2px, -2px)
  &__content-tag + .info__content-tag
    margin-left: .5rem
  &__content-tag
    padding: 8px
  &__url
    padding: 4px 8px

.intro
  &__title
    margin-bottom: 16px
    +font(24, 700)
    color: $primaryGreen
    line-height: 1.5
    +mobile
      +font(18, 700)
  &__content
    > p
      line-height: 1.5
    > p + p
      margin-top: 12px

#myMap
  z-index: 8
  width: 100%
  height: \min(40vh, 380px)
  border-radius: 12px

.swiper-nearSpot
  border-radius: 16px

.swiper-slide-nearSpot
  width: 254px

.swiper-button-prev-nearSpot, .swiper-button-next-nearSpot
  color: $primaryGreen
